.offer__title {
    margin: 120px auto 56px;
    max-width: 582px;
}
.title {
    text-align: center;
    color: #1C1C1E;
    font-size: 48px;
    line-height: 56px;  
    text-transform: capitalize;
}
.offer__suggest {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.suggest__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 120px;
    & + * {
        flex-direction: row-reverse;
    }
}
.suggest__textarea {
    flex: 0 1 520px;
    background-color: #fff;
    border-radius: 20px;
    padding: 32px 40px;
}
.suggest__icons {
    font-size: 48px;
    position: relative;
    z-index: 1;
    &::after {
        content: "";
        display: block;
        background-color: $main_salat;
        position: absolute;
        bottom: -2px;
        left: 24px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        z-index: -1;
    }
}
.suggest__icons._icon-heart {
    &::after {
        left: 27px;
    }
}
.suggest__subtitle {
    margin: 12px 0 40px;
}
.subtitle {
    font-size: 32px;
    line-height: 40px;
    color: #1C1C1E;
}
.suggest__list {
    position: relative;
    &::before{
        content: "";
        display: block;
        position: absolute;
        height: 3px;
        background-color: #E3E7EC;
        width: 35%;
        bottom: -48px;
    }

}
.suggest__list-item {
    position: relative;
    & + * {
        margin-top: 34px;
    }
    &::before {
        content: "";
        display: block;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        border: 1px solid #E3E7EC;
        position: absolute;
        top: -3px;
        left: -3px;
    }
}
.suggest__list-icon {
    font-size: 20px;
    color: $main_blue;
    position: absolute; 
    left: 5px;
    top: 5px;
}
.suggest__list-text {
    margin-left: 48px;
    font-size: 18px;
    line-height: 26px;
    color: #1C1C1E;
}
.suggest__btn {
    position: relative;
    margin: 80px 0 32px;
    &.btn {
        width: 118px;
    }
}
.suggest__imageare {
    flex: 0 1 631px;
    max-height: 521px;
    margin: 28px 20px 0;
    border-radius: 20px;
}