.programs__container {
    margin-top: 86px;
    padding-top: 70px;
}
.programs__microtitle {
    margin-bottom: 16px;
}
.programs__title {
    max-width: 526px;
    margin: 0 auto 48px;
}
.main__programs .info__bar {
    margin: 0 auto 240px;
}
.main__programs .info__item {
    box-shadow: none;
}
.main__faqs {
}
.faqs__container {
    margin-bottom: 260px;
}
.faqs__bar {
    display: flex;
    flex-direction: row;
}
.faqs__textarea {
    flex: 0 1 421px;
    margin-right: 80px;
}
.faqs__title-faqs {
    font-family: GeneralSans, sans-serif;
    font-size: 60px;
    color: #1C1C1E;
    & span {
        font-family: GeneralSansMedium, sans-serif;
        font-size: 72px;
        line-height: 80px;
        color: #1C1C1E;
    }
}
.faqs__text {
    margin: 16px 0 40px;
    & p {
        font-family: GeneralSans, sans-serif;
        color: #636366;
    }
}
.faqs__btn {
    width: 156px;
}
.faqs__answers {
    flex: 0 1 699px;
}
.faqs__subtitle-faqs {
    margin-bottom: 36px;
    max-width: 504px;
    & p {
        font-size: 24px;
        line-height: 32px;
        color: #1C1C1E;
    }
}
.faqs__item {
    position: relative;
}
.faqs__ans {
    font-family: 'GeneralSans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #636366;
    padding-left: 20px;
    transition: all 0.3s ease-in 0s;
}
.faqs__question {
    margin: 12px 0;
    & p {
        font-size: 20px;
        line-height: 28px;
        color: #1C1C1E;
    }
}
.faqs__tab {
    position: absolute;
    top: 2px;
    right: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 22px;
    width: 22px;
    border: 2px solid #1C1C1E;
    display: flex;
    align-items: center;
    justify-content: center;
    & p {
        font-size: 20px;
        padding-bottom: 1px;
    }
}

.faqs__tab.active-tab{
    background-color: #1C1C1E;;
    & p {
        color: #ffffff;
    }
}